{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron " style ="align-items: center">
        <h2 style="border:5px solid skyblue; padding:20px 20px ; text-align: center">Welcome To Fruits Shop</h2>
         <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;font-size: 18px ; text-align:center">The smallest seed of faith is better than the largest fruit of happiness.</p>
         <a class="btn btn-primary " href="/polls">Go to Products</a>
    </div>
{%endblock%}   

    